.container {
  max-width: fit-content;
  margin: 20px auto 20px;
  padding: 20px;
  background-color: #414141;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  display: block;
}

#signature {
  color: #f9fcfb;
  margin-top: 60px;
}

.text-signature {
  color: #5fdde5;
  margin-left: 3px;
}

.code {
  color: #5fdde5;
  margin-left: 5px;
}

.git {
  margin-left: 3px;
}
