@import url("https://fonts.googleapis.com/css2?family=Baloo+2");

body {
  font-family: "Baloo 2", cursive;
}

li {
  list-style-type: none;
}

.button-find {
  background-color: white;
  color: #414141;
  border-color: white;
  margin-left: 10px;
}

.city-name {
  color: #f9fcfb;
  font-weight: bold;
  font-size: 45px;
}

.text-geo {
  font-size: 20px;
  color: #5fdde5;
}

.date-info,
.time-info {
  color: #5fdde5;
}

.text-clock,
.text-calendar {
  font-size: 16px;
  margin-right: 5px;
}

form {
  margin: 15px 0px;
}

.temperature {
  font-weight: 600;
  font-size: 100px;
  color: #f9fcfb;
  line-height: 64px;
}
.unit {
  color: #f9fcfb;
  font-size: 25px;
  line-height: 1;
  position: relative;
  top: -45px;
  margin-left: 5px;
}

.info-text {
  color: #5fdde5;
  font-size: 20px;
}

.text-chevron {
  font-size: 15px;
  margin-right: 5px;
}

.loader-text {
  margin-top: 60px;
}

.weather-icon {
  display: inline-block;
}

a {
  color: #5fdde5;
}
